@font-face {
    font-family: "Tungsten-Bold";
    src: url("../font/Tungsten-Bold_Web.woff2") format("woff2");
}

@font-face {
    font-family: "DINNextW05-Bold";
    src: url("../font/ffbb4591-1a9c-443b-9b6e-6ceb6a3ca76b.woff2") format("woff2");
}

@font-face {
    font-family: "DINNextW05-Medium";
    src: url("../font/a077222b-f869-4748-8eda-79372b7c40a1.woff2") format("woff2");
}

@font-face {
    font-family: "DINNextW1G";
    src: url("../font/DINNextW1G.woff2") format("woff2");
}

@font-face {
    font-family: "FF Mark W05";
    src: url("../font/8a533745-7bc5-4dcd-8552-d9952208de6f.eot?#iefix");
    src: url("../font/8a533745-7bc5-4dcd-8552-d9952208de6f.eot?#iefix") format("eot"), url("../font/ffbb4591-1a9c-443b-9b6e-6ceb6a3ca76b.woff2") format("woff2"), url("../font/e44c8656-a389-4ecb-838c-3c135565d6b3.woff") format("woff"), url("../font/fcdcba61-8d4e-41db-9c06-24a5238587f1.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "FF Mark W05";
    src: url("../font/0f774eeb-e868-4bd6-9055-79542afd5208.eot?#iefix");
    src: url("../font/0f774eeb-e868-4bd6-9055-79542afd5208.eot?#iefix") format("eot"), url("../font/cdb13a7a-2f13-4f7c-b7a3-01b4ccef574d.woff2") format("woff2"), url("../font/40a8594b-08b2-4a38-97d9-958c95360b20.woff") format("woff"), url("../font/bcc8880e-b967-43ce-a210-d1404cbdc736.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: "FF Mark W05";
    src: url("../font/MarkPro-Bold.eot?#iefix");
    src: url("../font/MarkPro-Bold.eot?#iefix") format("eot"), url("../font/MarkPro-Bold.woff2") format("woff2"), url("../font/MarkPro-Bold.woff") format("woff"), url(".././fonts/ffmark/MarkPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}
